<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">

        <circle-progress responsive="true" style="align-items: center;justify-content: center;" [percent]="85"
          [radius]="50" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
        </circle-progress>

      </ion-col>
      <ion-col size="6">

        <circle-progress responsive="true" [percent]="85" [radius]="50" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
        </circle-progress>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">

      </ion-col>
      <ion-col size="7">
        <circle-progress responsive="true" [percent]="85" [radius]="50" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
        </circle-progress>
      </ion-col>
      <ion-col size="3">

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">

        <circle-progress responsive="true" style="align-items: center;justify-content: center;" [percent]="85"
          [radius]="50" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#6C4FE3'"
          [innerStrokeColor]="'#4c8dff'" [animation]="true" [animationDuration]="300">
        </circle-progress>

      </ion-col>
      <ion-col size="6">

        <circle-progress responsive="true" [percent]="85" [radius]="50" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
        </circle-progress>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>

  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <circle-progress responsive="true"  [percent]="85" [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
        [outerStrokeColor]="'#6C4FE3'" [innerStrokeColor]="'#a08ee9'" [animation]="true" [animationDuration]="300">
      </circle-progress>
      
    </ion-card-content>
  </ion-card>

</ion-content>